body{
    height: 100vh;
    display: flex;
    width: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#replay-leaderboard{
    margin-top: 25px;
}
    .skyscraper{
        text-align: center;

    }
    button{
        cursor: pointer;
        background-color: transparent;
        border: transparent;

    }
    button:visited{
        border: none;
    }
    
    i{
        font-size: 25px;
    }
